<style>
    .eg-container {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    .eg-main {
      max-height: 525px;
      margin-bottom: 30px;
    }

    .eg-wrapper {
      background-color: #f7f7f7;
      border: 1px solid #eee;
      box-shadow: inset 0 0 3px #f7f7f7;
      height: 525px;
      width: 100%;
      overflow: hidden;
    }

    .eg-wrapper img {
      width: 100%;
    }

    .eg-preview {
      margin-bottom: 15px;
    }

    .preview {
      float: left;
      margin-right: 15px;
      margin-bottom: 15px;
      overflow: hidden;
      background: #f7f7f7;
    }

    .preview-lg {
      width: 240px;
      height: 240px;
    }

    .preview-md {
      width: 135px;
      height: 135px;
    }

    .preview-sm {
      width: 48px;
      height: 48px;
    }

    

    .eg-data {
      padding-right: 15px;
    }

    .eg-data .input-group {
      width: 100%;
      margin-bottom: 15px;
    }

    .eg-data .input-group-addon {
      min-width: 65px;
    }

    .eg-button > .btn {
      margin-right: 15px;
      margin-bottom: 15px;
    }

    .eg-input .input-group {
      margin-bottom: 15px;
    }

    .eg-output .btn {
      margin-right: 15px;
      margin-bottom: 15px;
    }

    .eg-output img {
      max-height: 214px;
    }
  </style>
  <div class="container-fluid eg-container" id="basic-example">
    <div class="row eg-main">
      <div class="col-xs-12 col-sm-9">
        <div class="eg-wrapper">
          <%= image_tag @user.avatar_url(:not_edit).to_s, class:"cropper" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="eg-preview clearfix">
          <div class="preview preview-lg"></div>
          <div class="preview preview-md"></div>
          <div class="preview preview-sm"></div>

        </div>
        <div class="eg-data">
          <%= form_for @user do |f| %>

            <%= f.hidden_field :crop_x, :id =>'dataX'  %>
            <%= f.hidden_field :crop_y, :id =>'dataY'  %>
            <%= f.hidden_field :crop_w, :id =>'dataWidth'  %>
            <%= f.hidden_field :crop_h, :id =>'dataHeight'  %>
            
            <%= f.hidden_field :name, class:'form-control input_short' %>
            <%= f.hidden_field :email, class:'form-control input_short' %>
            
            <%= f.submit "剪切!", class: "btn btn-large btn-primary"%><br>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<script>
  $(function() {
      var $cropper = $(".cropper"),
          $dataX = $("#dataX"),
          $dataY = $("#dataY"),
          $dataHeight = $("#dataHeight"),
          $dataWidth = $("#dataWidth"),
          $dataRotate = $("#dataRotate"),
          console = window.console || {log:$.noop},
          cropper;

      $cropper.cropper({
        aspectRatio: 9 / 9,
        data: {
          x: 90,
          y: 90,
          width: 240,
          height: 240
        },
        preview: ".preview",

        // autoCrop: false,
        // dragCrop: false,
        // modal: false,
        // moveable: false,
        // resizeable: false,
        // scalable: false,

        // maxWidth: 480,
        // maxHeight: 270,
        // minWidth: 160,
        // minHeight: 90,

        done: function(data) {
          $dataX.val(data.x);
          $dataY.val(data.y);
          $dataHeight.val(data.height);
          $dataWidth.val(data.width);
          $dataRotate.val(data.rotate);
        },
        
      });

    });
  </script>