<div class="center pad">
<%= render "layouts/flash" %>
<br>
  <h1>用户资料</h1>
<br>
<br>
    <%= image_tag @user.avatar_url(:big).to_s %>
    <%= link_to 'change Avatar',edit_avatar_path %>


    <strong>名字:</strong>
    <%= @user.name %>
<br>
<br>
    <p>
      <strong>电子邮箱:</strong>
      <%= @user.email %>
    </p>
<br>
  
  <%= link_to '修改资料 | ', edit_user_path(@user) if current_user == @user%>
  <%= link_to '返回主页', root_url %>
  
</div>