<div class="panel panel-default">

  <% count = micropost.comments_count %>

  <div class="panel-body <%= 'popular' if count > 5 %>">
    <%= raw micropost.content %>
  </div>
  <div class="panel-footer <%= 'popular' if count > 5 %>">
    <% unless  micropost.tag.blank? %>
      <ul class="pull-left tag">
        <li><i class='fa fa-tag'></i> <%=link_to micropost.tag, show_in_tag_path(micropost.tag) %></li>
      </ul>
    <% end %>
    <ul>
      <% if admin? %>
        <li>
          <%= link_to "修改", edit_micropost_path(micropost) %>
        </li>
      <% end %>
      <li data-toggle="tooltip" data-placement="bottom" title="查看评论">
        <%= link_to content_tag(:i, " 评论 #{count}", :class => "fa fa-comments"), micropost_path(micropost), class:"link-to-comment" %>
      </li>
      <li>
        <%= time_ago_in_words(micropost.created_at) %>
      </li>
    </ul>
  </div>
</div>