<%= render 'layouts/header'%>

<p id="notice"><%= notice %></p>

<div class="pad">
  <div class="micropost_content">
    <%= @micropost.content %>
  </div>
</div>
<div class="pad">
  <div class="comment_all">
    <% @comments.each do |comment| %>
      <div class="comment_line">
        <%=link_to "@#{comment.user.name}  ", comment.user %> &nbsp;<%= comment.content %>
      </div>
    <% end %>
  </div>
</div>
<div class="pad">
  <%= render 'comments/form' %>
</div>