
<div class="pad">
<%= render 'layouts/flash' %>
  <div class="micropost_content">
    <%= sanitize @micropost.content %>
  </div>
</div>
<div class="pad">
    <% @comments.each do |comment| %>
      <div class="comment_card">
        <%= image_tag comment.user.avatar_url(:small).to_s, class:"avatar" %>
        <div class="text">
          <strong><%= link_to "#{comment.user.name}", comment.user %></strong> 
          <div class="comment-content"><%= sanitize comment.content %></div>
        </div>
      </div>
      <div class="divider"></div>
    <% end %>
  </div>
</div>
<div class="pad">
  <%= render 'comments/form' %>
</div>